*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.header{
    width: 100%;
    background-image: url(assets/header_bg.png);
    background-size: cover;
    background-position: top;
}

.container{
    width: 90%;
    margin-top: 0 auto;
    
}

.menu{
    display: flex;
    font-size: 25px;
    gap: 55px;
    margin: 20px;
}

.nav .container{
    display: flex;
    justify-content: space-between;
    
}

.btn{
    padding: 5px 30px;
    font-size: 25px;
    background-color: green;
    margin: 20px;
}

.logo{
    margin: 20px;
}

.promo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text h1{
    font-size: 72px;
    
}

.text p{
    font-size: 25px;
    
}

.boxb{
    background-color: rgb(224, 174, 190);
    color: rgb(241, 78, 105);
    border: 1px solid rgb(247, 78, 106);
    padding: 10px 25px;
    margin-top: 45px;
    font-size: 20px;
    border-radius: 5px;
}